src/main/mule/devopspipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="56f69caa-6faf-4997-8b66-509ad2981e27" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="devopspipelineFlow" doc:id="31a610c8-c3e0-4042-91ca-7908d9ef5454" >
		<http:listener doc:name="Listener" doc:id="0315c35e-10a7-43ed-94f6-886c3b51e46e" config-ref="HTTP_Listener_config" path="/pipeline"/>
		<set-variable value="#[10]" doc:name="Set Variable" doc:id="7824b12e-f7e8-4e1b-a286-e260172a483b" variableName="x"/>
		<logger level="INFO" doc:name="Logger" doc:id="da87c6dc-a3b7-4474-83ed-a77911dd670b" message="#[vars.x]"/>
		<set-payload value="DevOps Demo" doc:name="Set Payload" doc:id="df359762-fc97-47b0-a196-02b951676280" />
		<logger level="INFO" doc:name="Logger" doc:id="14596909-1780-4538-a2bc-e0d9ec69dd49" message="#[payload]"/>
	</flow>
</mule>
